<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="p-8 w-full max-w-sm bg-white rounded-md shadow-md">
        <h2 class="mb-4 text-2xl font-bold">Login</h2>
        <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="email" class="block mb-1 text-sm font-medium">Email</label>
                <input
                    id="email"
                    type="email"
                    formControlName="email"
                    class="p-2 w-full rounded border border-grey-300"
                    placeholder="Enter your email"
                />
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-1 text-sm font-medium">Password</label>
                <input
                    id="password"
                    type="password"
                    formControlName="password"
                    class="p-2 w-full rounded border border-grey-300"
                    placeholder="Enter your password"
                />
            </div>
            <button 
                type="submit"
                class="py-2 w-full text-white bg-blue-500 rounded hover:bg-blue-700"
                [disabled]="loginForm.invalid"
                [class]="loginForm.invalid ? 'cursor-not-allowed' : ''"
            >Login</button>
        </form>
        <p class="mt-4 text-sm text-center">
          Don't have an account?
          <a routerLink="/auth/register" class="text-blue-500 hover:underline hover:cursor-pointer">Register</a>  
        </p>
    </div>
</div>